/********************************
어드민 페이지 헤더 
*********************************/
.admin-header{
  // border: 1px solid red;
  width: 100%;
  padding: 10px 0;
  -webkit-box-shadow: 0px 3px 2px 0px rgb(180, 173, 180);
  -moz-box-shadow: 0px 3px 2px 0px rgb(201, 195, 201); 
  box-shadow: 0px 3px 2px 0px rgb(185, 181, 185);
}
.admin-header>div{
  // border: 1px solid red;
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.admin-header>div>div{
  display: flex;
  font-size: 15px;
  gap: 10px;
}
.admin-header>div>div>img{
  width: 60px;
}
.admin-header>div>div>p{
  display: flex;
  align-items: center;
}
.admin-logout{
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/********************************
어드민 페이지 BODY
*********************************/
.admin-wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
}
.admin-body {
  display: flex;
  width: 1500px;
  margin: 0 auto;
  padding-top: 20px;
}
.admin-container{
  margin: 0 auto;
  width: 1500px;
  // height: 600px;
  background-color: rgb(240, 240, 240);
  position: relative;
}
.admin-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 3px 2px 0px rgb(216, 215, 216);
  margin-left: 20px;
}
/********************************
어드민 사이드 바
*********************************/
.adminNavbar {
  width: 300px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  min-height: 600px;
}
.admin-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.admin-menu li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #eee;
}

.admin-menu li:hover {
  background-color: #f8f8f8;
}

.admin-menu li span {
  flex-grow: 1;
}
.admin-menu li.style-active {
  background-color: #f0f0ff;
  color: #663399;
  font-weight: bold;
}
/********************************
어드민 항공권 등록 리스트
*********************************/
.admin-airlist-content{
  width: 1100px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 20px;
  box-sizing: border-box;
}
.admin-airlist {
  width: 100%;
  border-collapse: collapse; 
  table-layout: fixed;
}
.admin-airlist-top{
  display: flex;
  justify-content: space-between;
  padding: 25px 0px 15px;
  font-size: 20px;
  font-weight: 500;
}
.admin-airlist-controls{
  position: relative;
  display: flex;
  justify-content: space-between;
}
.admin-select-option{
  width: 100px;
  margin-right: 10px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid rgb(190, 190, 190);
  outline: none;
}  
.admin-search{
  width: 200px;
  padding: 5px 10px;
  outline: none;
  border: 1px solid rgb(190, 190, 190);
}
.admin-search-icon{
  position: absolute;
  top: 9px;
  right: 15px;
}
.admin-airlist>thead>tr>th{
  font-size: 13px;
  // border: 1px solid red;
}
.admin-airlist tr th{
  background-color: rgb(239, 239, 239);
}
.admin-airlist tr th,
.admin-airlist tr td{
  padding: 10px 0;
  border-top: 2px solid rgb(224, 223, 223);
  text-align: center;
  vertical-align: middle;
}
.admin-airlist tr td{
  font-weight: 400;
  font-size: 14px;
}
.admin-airlist tbody tr:hover{
  background-color: rgb(247, 247, 247);
}
.admin-airlist tr:last-child td{
  border-bottom: 2px solid rgb(224, 223, 223);
}
.admin-airlist-bottom{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.admin-delete-btn button,
.admin-back-btn button{
  padding: 7px 15px;
  background-color: #fff;
  border: 2px solid purple;
  border-radius: 3px;
  color: purple;
  font-weight: 500;
  cursor: pointer;
}
.admin-insert-btn button{
  padding: 8px 15px;
  border: 1px solid purple;
  border-radius: 3px;
  background-color: purple;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
/********************************
어드민 페이지네이션
*********************************/
.custom-pagination {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 20px;
}
.custom-pagination button {
  border: none;
  padding: 6px 8px;
  background-color: white;
  cursor: pointer;
}
.custom-pagination button.active {
  color: purple;
  text-decoration: underline;
  text-underline-offset: 3.5px;
  font-weight: bold;
  font-size: 15px;
}
/********************************
어드민 항공권 등록 
*********************************/
.add-flight-info{
  // border: 1px solid red;
  width: 700px;
  margin: 0 auto;
}
.add-input-wrapper {
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}
.add-info,
.add-info1 {
  display: flex;
  gap: 20px;
  width: 700px;
}
.add-info .add-input-wrapper,
.add-info1 .add-input-wrapper,
.add-info2 .add-input-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.add-info .add-input-wrapper:first-child{
  width: 214px;
}
.add-info .add-input-wrapper:nth-child(2){
  width: 470px;
}
.add-info .add-input-wrapper .prefix-label, 
.add-info1 .prefix-label,
.add-info2 .prefix-label {
  padding: 13px;
  display: flex;
  align-items: center;
  width: 80px;
  flex-shrink: 0;
  font-size: 14px;
  padding-left: 10px;
  color: #666;
  border-radius: 6px 0 0 6px;
  background: #f0f0ff
}
.add-info1 .prem,
.add-info2 .prem{
  width: 105px;
}
.admin-add-air .add-fnum,
.add-info .add-input-wrapper .add-fnum,
.add-info1 .add-input-wrapper .add-fnum1 {
  font-size: 14px;
  border: none;
  width: 100%;
  padding: 13px;
  padding-left: 0px;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
}

.admin-add-air .add-input-wrapper .add-fnum {
  font-size: 14px;
  border: none;
}

.admin-air-addbtn{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 40px;
}




.add-contry,
.add-flight-info{
  margin: 0 auto;
}
.add-flight-info{
  margin-top: 50px;
}






.contry-check{
  // border: 1px solid red;
  width: 500px;
}
.check-time{
  padding-top: 15px;
  width: 700px;
}

.main-top-search-bottom-main-middle2 {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .active-calendar-date {
      color: var(--color-nav-main);
      font-size: 16px;
      font-weight: 100;
      margin-left: 10px;
  }

  .main-top-search-bottom-main-middle-icon2 {
      font-size: 25px;
      padding-top: 20px;
  }

  .main-top-search-bottom-main-middle-icon2:hover {
      cursor: pointer;
  }

  >div:first-child {
      color: var(--color-153);
  }

  >div:nth-child(3) {
      color: var(--color-153);
  }

  >div:nth-child(4) {
      h3:not(.active-calendar-date) {
          font-size: 16px;
          // font-weight: 100;
          color: var(--color-153);
          margin-left: 10px;
      }
  }

  >div:nth-child(5) {
      h3:not(.active-calendar-date) {
          font-size: 15px;
          font-weight: 600;
          // color: var(--color-153);
          margin-left: 10px;
      }
  }

  >div {
      border-bottom: 1px solid var(--color-153);
      width: 230px;

      >h5 {
          font-size: 14.5px;
          font-weight: 100;
          margin-bottom: 3px;
      }

      >div:hover {
          cursor: pointer;
      }

      >div {
          // border: 1px solid blue;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;

          span {
              display: flex;
              align-items: center;
              padding-bottom: 10px;
          }

          >h3:not(.active-calendar-date) {
              font-size: 20px;
              padding-bottom: 10px;
          }

          .main-top-search-bottom-main-middle-icon {
              font-size: 25px;
              margin-right: 20px;
              color: var(--color-153);
          }
      }
  }
}

/********************************
어드민 로그인 페이지 
*********************************/