/**************************************
** COMMONS  
**************************************/
:root {
    --color-main: rgb(211, 233, 46);
    --color-nav-main: rgb(25, 37, 71);
    --color-bk-main: #000;
    --color-153: rgb(153, 153, 153);
    --color-181: rgb(181, 181, 181);
    --color-242: rgb(242, 242, 242);

    --borderlight: #dfe4eb;
    --fontblack: #333333;
    --darkblack: #222222;

    --jinairgreen: #d3e92e;
    --jinairnav: #192547;
}

@font-face {
    font-family: 'NotoSans-T';
    src: url('../fonts/NotoSansKR-Thin.otf');
}

@font-face {
    font-family: 'NotoSans-B';
    src: url('../fonts/NotoSansKR-Bold.otf');
}

@font-face {
    font-family: 'NotoSans-L';
    src: url('../fonts/NotoSansKR-Light.otf');
}

@font-face {
    font-family: 'NotoSans-M';
    src: url('../fonts/NotoSansKR-Medium.otf');
}

@font-face {
    font-family: 'NotoSans-R';
    src: url('../fonts/NotoSansKR-Regular.otf');
}

* {
    font-family: 'NotoSans-R';
}

.thin {
    font-family: 'NotoSans-T';
}

.bold {
    font-family: 'NotoSans-B';
}

.light {
    font-family: 'NotoSans-B';
}

.medium {
    font-family: 'NotoSans-M';
}

.content_outline,
.footer_outline {
    width: 100%;
}

.content_outline,
.content {
    position: relative; 
}

.header,
.content,
.footer {
    width: 1280px;
    margin: 0px auto;
}

/**************************************
** HEADER- TOP 
**************************************/
.header { 

    .header_top {
        height: 100px;

        .header_top_menu {
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: 12px;
            color: var(--color-nav-main);
            padding: 10px 0;

            button {

                border: 0;
                background-color: transparent;
            }

            .header_top_menu_item {
                position: relative;
            }

        }

        .header_bottom_menu {
            display: flex;
            width: 1200px;
            justify-content: space-between;
            z-index: 300;
            letter-spacing: -0.3px;
            align-items: center;

            .menu_list {
                ul {
                    list-style: none;
                    display: flex;

                    li {
                        min-width: 150px;
                        max-width: 180px;
                        font-weight: 400;
                        font-size: 18px;
                        text-align: center;
                        color: #192547;
                    }
                }
            }

        }
    }
}
.header_bottom{
    height: 1px;
    background-color: var(--color-242);
}

/**************************************
** Footer 
**************************************/
.footer_outline {
    padding-top: 30px;
    border-top: 1px solid rgb(247, 247, 247);
    background-color: var(--color-242);

    .footer {
        background-color: var(--color-242);
        .footer_top{
            color: var(--color-nav-main);
            display: flex;
            justify-content: space-between;
            .footer_left{
                .footer_menu{
                    width: 600px;
                    display: flex; 
                    justify-content: space-between;
                    ul{ 
                        list-style: none;
                    }
                } 
            }
        }
        .footer_bottom {
            width: 100%;
            padding: 20px 0 30px;   
            display: flex;
            justify-content: space-between;
        }
    }
}