/***************************************
* 메인 공통 
* 작성자 : 황수현
***************************************/
.main_home {
    .main_home_content {
        display: inline;
        text-align: center;

        .main_home_content_top {
            margin-top: 60px;
            align-items: center;
            height: auto;

            .main_home_content_boon {
                width: 1240px;
                margin: 0 auto;

                .main_boon {
                    align-items: center;
                    width: 600px;
                    border-radius: 10px;
                }
            }
        }
    }
}

/***************************************
* 슬라이더 공통 
* 작성자 : 황수현
***************************************/
.swiper-pagination {
    display: flex;
    justify-content: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: transparent;
    border: 1px solid var(--color-nav-main);
    opacity: 1;
    margin-top: 30px !important;
}

.swiper-pagination-bullet-active {
    width: 40px;
    transition: width .5s;
    border-radius: 5px;
    color: var(--color-nav-main);
    background: var(--color-nav-main);
    border: 1px solid var(--color-nav-main);
    margin-top: 30px !important;
}

/***************************************
* 메인 슬라이더 - 혜택
* 작성자 : 황수현
***************************************/
.swiper-boon-container {
    position: relative;
    margin-bottom: 40px;

    .swiper {
        height: 180px;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    .custom-prev,
    .custom-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        color: var(--color-nav-main);
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 100%;
        font-size: 2px;
        z-index: 10;
    }
}


.custom-prev {
    left: 0px;
}

.custom-next {
    right: 0px;
}

.custom-prev:hover,
.custom-next:hover {
    background: var(--color-nav-main);
    color: var(--color-main);
}

/***************************************
* 메인 슬라이더 - 프로모션
* 작성자 : 황수현
***************************************/
.swiper-promotion-container {
    position: relative;

    .swiper {
        height: 480px;

        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }
        }
    }

    .custom-prev,
    .custom-next {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        background: #fff;
        color: var(--color-nav-main);
        border: none;
        cursor: pointer;
        padding: 10px;
        border-radius: 100%;
        font-size: 2px;
        z-index: 10;
    }
}


.custom-prev {
    left: -10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.custom-next {
    right: -10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.custom-prev:hover,
.custom-next:hover {
    background: var(--color-nav-main);
    color: var(--color-main);
}

.main_promotion {
    width: 285px;
    height: 285px;
    object-fit: cover;
    border-radius: 10px;
}

.main_home_promotion_warp {
    color: var(--color-nav-main);

    .main_home_promotion {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        .main_home_promotion_title {
            display: flex;
            justify-content: space-between;

            .main_home_promotion_title_1 {

                display: flex;
                justify-content: space-between;

                .main_home_promotion_before {
                    position: relative;
                    font-weight: bold;
                    font-size: 32px;
                    display: inline-block;
                }

                .main_home_promotion_before::before {
                    content: '';
                    position: absolute;
                    // z-index: -1;
                    left: 0;
                    bottom: 8%;
                    margin-top: 0;
                    width: 100%;
                    height: 7px;
                    border-radius: 2px;
                    background: linear-gradient(to right, rgba(189, 214, 0, 0.7) 0%, rgba(211, 233, 46, 0) 100%);
                }

                span:last-child {
                    font-size: 32px;
                }
            }

            .main_home_promotion_title_2 {
                font-size: 16px;
                color: #fff;
                border: 1px solid var(--color-nav-main);
                border-radius: 30px;
                background-color: var(--color-nav-main);
                padding: 5px;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        .main_home_promotion_sub {
            background: linear-gradient(to top, #d3e92e 50%, transparent 50%);
            color: var(--color-153);
            display: flex;
            justify-content: space-between;
            width: 65px;
            height: 30px;
            align-items: center;
        }
    }

    .main_promotion_more_warp {
        color: var(--color-nav-main);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px;

        .main_promotion_more {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 230px;
            height: 50px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            background-color: var(--color-main);
        }
    }

}

/***************************************
* 메인 슬라이더 - 최저가
* 작성자 : 황수현
***************************************/
.slick-lowest-container {
    position: relative;

    .slick-slider {
        height: 400px;

        .slick-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;

            img {
                max-width: 100%;
                height: auto;
                object-fit: contain;
            }

            .main_lowest_text {
                margin-top: 5px;
                text-align: center;
            }

        }

        .slick-arrow {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .slick-prev,
        .slick-next {
            border: solid 1px red;
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            background: #fff;
            color: var(--color-nav-main);
            border: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 100%;
            font-size: 2px;
            z-index: 10;
        }

        .slick-prev {
            left: -10px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        }

        .slick-next {
            right: -10px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        }

        .slick-prev:hover,
        .slick-next:hover {
            background: var(--color-nav-main);
            color: var(--color-main);
        }
    }

    .slick-dots {
        li button:before {
            display: none;
            border-radius: 100%;
        }

        .slick-active {
            width: 40px;
            transition: width .5s;
            border-radius: 5px;
            color: var(--color-nav-main);
            background: var(--color-nav-main);
            border: 1px solid var(--color-nav-main);
            margin-top: 30px !important;
        }

        li {
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background: transparent;
            border: 1px solid var(--color-nav-main);
            opacity: 1;
            margin-top: 30px !important;
        }
    }
}

.main_lowest {
    width: 285px;
    object-fit: cover;
    border-radius: 10px;
}

.main_home_lowest_warp {
    color: var(--color-nav-main);

    .main_home_lowest_buttons {
        display: flex;
        width: 100%;
        height: 50px;
        margin-top: 2px;
        justify-content: center;
        margin-bottom: 20px;

        .lowest_button {
            box-shadow: 0 2px 2px rgba(206, 206, 206, 0.2);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            background-color: #f5f5f5;
            /* 배경색 */
            cursor: pointer;
        }

        .button_anytime {
            border-top-left-radius: 10px;
        }

        .button_anywhere {
            border-top-right-radius: 10px;
        }

        .active {
            background-color: var(--color-nav-main);
            color: #fff;
        }

    }

    .main_home_lowest {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;

        .main_home_lowest_title {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .main_home_lowest_title_1 {
                display: flex;
                justify-content: space-between;

                .main_home_lowest_before {
                    position: relative;
                    font-weight: bold;
                    font-size: 32px;
                    display: inline-block;
                }

                .main_home_lowest_before::before {
                    content: '';
                    position: absolute;
                    // z-index: -1;
                    left: 0;
                    bottom: 8%;
                    margin-top: 0;
                    width: 100%;
                    height: 7px;
                    border-radius: 2px;
                    background: linear-gradient(to right, rgba(189, 214, 0, 0.7) 0%, rgba(211, 233, 46, 0) 100%);
                }
            }

            .main_home_lowest_title_2 {
                font-size: 16px;
                color: #fff;
                border: 1px solid var(--color-nav-main);
                border-radius: 30px;
                background-color: var(--color-nav-main);
                padding: 5px;
                margin-left: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .main_home_lowest_sub {
            background: linear-gradient(to top, #d3e92e 50%, transparent 50%);
            color: var(--color-153);
            display: flex;
            justify-content: space-between;
            width: 65px;
            height: 30px;
            align-items: center;
        }
    }

    .lowest_anytime_warp {
        .lowset_pin {
            display: flex;
            padding-left: 22px;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .lowest_anytime {
            height: 300px;
        }
    }

    .main_lowest_more_warp {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px;

        .main_lowest_more {
            color: var(--color-nav-main);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 230px;
            height: 50px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 600;
            background-color: var(--color-main);
        }
    }

    .swiper-container.active {
        visibility: visible;
        opacity: 1;
    }
}


/***************************************
* 메인 - 앱 다운로드 / 공지사항
* 작성자 : 황수현
***************************************/
.home_notic {
    margin: 30px 0 30px 0;
    gap: 40px;
    display: flex;
    color: var(--color-nav-main);

    .home_notic_app {
        img {
            border-radius: 10px;
        }
    }

    .home_notic_bord {
        width: 100%;

        .home_notic_bord_title {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 28px;
                font-weight: 600;
            }
        }

        .home_notic_bord_sub {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            span {
                margin-bottom: 10px;
            }

            border-bottom: solid 1px var(--color-181);
        }

    }
}

/***************************************
* 결제창
* 작성자 : 황수현
***************************************/
.booking-payment {
    background-color: rgb(249, 249, 249);
    padding-bottom: 56px;

    h3 {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 20px;
    }

    .booking-payment-section {
        //여행정보
        padding: 5px 30px 30px 30px;
        margin-top: 60px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);

        .payment-agreement-top {
            .noneExtras-warp {
                display: flex;
                gap: 20px;

                .noneExtras-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90px;
                    flex-shrink: 0;
                    flex-flow: column;
                    gap: 10px;
                    background: #f9f9f9;
                    border-radius: 10px;
                }

                .noneExtras-way-warp {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    gap: 8px;

                    .noneExtras-way1,
                    .noneExtras-way2 {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        width: 100%;
                        padding: 16px 24px;
                        border-radius: 8px;
                        background-color: var(--color-nav-main);
                        color: #fff;
                        border: 1px solid rgba(0, 0, 0, 0.06);
                        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);

                        .noneExtras-way-title {
                            background-color: #d3e92e;
                            color: var(--color-nav-main);
                            text-align: center;
                            align-items: center;
                            padding: 0 5px 0 5px;

                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .payment-agreement-bottom {
            .noneExtras-warp2 {

                display: flex;
                gap: 10px;
                margin-top: 40px;
            }

            .paymentPassenger-info {
                border-top: 3px solid var(--color-nav-main);
                font-size: 14px;
                color: var(--color-nav-main);
                text-align: center;

                border-collapse: collapse;

                th {
                    background: #ececee;
                    vertical-align: middle;
                    border-width: 1px;
                    border-color: #b3b5bf;
                    border-style: solid;
                    padding: 15px;
                }

                td {

                    vertical-align: middle;
                    border-width: 1px;
                    border-color: #b3b5bf;
                    border-style: solid;
                    padding: 15px;
                }
            }
        }
    }

    // 항공운임정보
    .payment-tax-warp {
        text-align: center;

        .payment-table-head {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 50px;
            border-top: 3px solid var(--color-nav-main);
            background: #ececee;
        }

        .payment-table-button {
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 50px;
            background: var(--color-nav-main);
            color: #fff;
            cursor: pointer;
        }

        .payment-table-text {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 50px;
        }

        .payment-table-hide {
            display: none;
        }

        .payment-table-total {
            align-items: center;
            display: grid;
            grid-template-columns: 4fr 1fr;
            grid-template-rows: 50px;
            background: #ececee;
            font-weight: 700;
        }
    }

    .payment-addition-info {
        .addition-table-head {
            display: grid;
            align-items: center;
            grid-template-columns: 220px auto 150px;
            grid-template-rows: 50px;
            border-top: 3px solid var(--color-nav-main);
            background: #ececee;

            span {

                height: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 50px;
            }

        }

        .payment-adition-button {

            display: grid;
            grid-template-columns: auto 150px;
            grid-template-rows: 50px;
            text-align: center;
            background: var(--color-nav-main);
            color: #ececee;
            align-items: center;
        }

        td {

            padding: 12px 4px;
            vertical-align: middle;
            border-width: 1px;
            border-color: #b3b5bf;
            border-style: solid;

        }
    }

    .payment-addition-hide {
        display: none;
    }

    .payment-addition-warp {
        display: block;

        .payment-addition-table {
            border-collapse: collapse;
            width: 100%;

            thead {
                display: none;
            }

            td {
                text-align: center;
            }
        }

        .payment-addition-total {
            display: flex;
            grid-template-rows: 50px;
            background: #ececee;
            font-weight: 700;
            justify-content: space-between;
            height: 50px;
            align-items: center;
            padding: 0 100px 0 250px;
        }
    }

    .payment-information {
        padding: 30px;
        margin-top: 60px;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
        background: none;
        box-shadow: none;

        article {
            display: flex;
            align-items: center;
            border-top: 3px solid #d3e92e;
            border-bottom: 1px solid #b3b5bf;

            .calc-warp {
                display: flex;
                gap: 6px;
                flex-flow: column;
                padding: 20px 30px;
                width: 100%;
            }

            .calc-result {
                width: 364px;
                margin-left: 40px;
                flex-shrink: 0;
                background: #d3e92e;
            }
        }
    }

    // 예약규정
    .payment-bottom {
        color: var(--color-nav-main);

        .agree-toggleA {
            border-style: none;
            background-color: #fff;
            cursor: pointer;
        }

        .agree-toggleB {
            padding-right: 25px;
            cursor: pointer;

            label {
                cursor: pointer;
            }
        }

        .bottom-agree-hide {
            display: none;
        }

        .bottom-agree-notic {
            .bottom-agree-notic-list {
                padding: 10px;

                ul {
                    li {
                        margin-bottom: 5px;
                    }
                }

                .agree-notic-inside {
                    width: 1150px;
                    padding-left: 25px;
                }
            }
        }

        .payment-bottom-agree {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 24px;
            margin-bottom: 24px;
            padding-right: 24px;
            border-bottom: 1px dashed #b4b4b4;
            gap: 10px;

            .agree2 {
                display: flex;
                cursor: pointer;

                .all {
                    font-size: 1.2rem;
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                }
            }
        }

        .bottom-agree-title {
            margin-top: 18px;
            position: relative;
            padding-right: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {

                border: solid 1px tomato;
            }

            .bottom-agree-notic {
                padding: 8px 0;

                .bottom-agree-notic {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    cursor: pointer;
                }

                label {
                    cursor: pointer;
                }
            }
        }

    }
}

.bottom-more-goods {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px 8px;
    margin-top: 12px;

    div {
        strong {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            border-radius: 8px;
            background: #f9f9f9;
            font-size: 14px;
            font-weight: 700;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 156px;
            margin-top: 10px;
            gap: 54px;
            border-radius: 10px;
            background: #f9f9f9;

            li {
                width: 80px;
                text-align: center;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 8px;
                    font-size: 10px;
                    line-height: 14px;
                    text-align: center;
                    white-space: nowrap;
                }
            }
        }
    }
}

//동의하기 버튼
.check-icon-warp {
    label {
        cursor: pointer;
    }
}

.order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 56px;

    button {
        height: 56px;
        border-radius: 5px;
        padding: 0 16px;
        min-width: 144px;
        font-weight: 700;
        width: auto;
        font-size: 16px;
        cursor: pointer;
    }
}

// 동의하기 버튼 관련
.agree-notic-hide {
    display: none !important;

}

.agree-notic-block {
    padding: 20px 0;

    p {
        padding-bottom: 5px;
    }
}

/********************************
* orde-checkout
********************************/

.check-out-page {
    padding: 30px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);

    select {
        cursor: pointer;
    }

    option {
        cursor: pointer;
    }

    ul {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        li {
            position: relative;
            color: var(--color-nav-main);
        }
    }
}

.checkout-totalprice {
    margin-top: 60px;

    .calc-warp {
        display: flex;
        align-items: center;
        border-top: 3px solid #d3e92e;
        border-bottom: 1px solid #b3b5bf;

        .calc-item {
            display: flex;
            gap: 6px;
            flex-flow: column;
            padding: 20px 30px;
            width: 100%;
        }

        .total-calc {
            background-color: #d3e92e;
        }

        .operation {
            font-weight: 700;
            font-size: 26px;
        }
    }

    .pay-wrapper {
        margin-top: 50px;
        padding: 30px;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.06);
    }
}

.order-button-warp {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 56px;

    button {
        height: 56px;
        border-radius: 5px;
        padding: 0 16px;
        min-width: 144px;
        font-weight: 700;
        width: auto;
        font-size: 16px;
        color: #fff;
        background-color: var(--color-nav-main);
    }
}

.select-warpper {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 14px 0 12px 0;

    select {
        min-width: 392px;
        width: auto;
        height: 40px;
        border-radius: 5px;
        padding: 5px;

    }

    div {
        height: 40px;
        width: 124px;
    }
}

.sale-button {

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    text-decoration: none;
    cursor: pointer;
    height: 44px;
    width: 100%;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #192547;
    background: #192547;
    font-size: 14px;
    color: #ffffff;
}

/****************
* payments 
****************/

.success-wqarp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 200px 0 100px 0;

    .payment-button {
        button {
            margin-top: 20px;
            width: 100%;
            height: 40px;
            border-radius: 10px;
            font-family: "NotoSans-B";
            font-size: 1.2rem;
            align-items: center;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 50px;
            background: var(--color-nav-main);
            color: #fff;
        }
    }
}

.payment-button {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    button {
        margin-top: 20px;
        width: 500px;
        height: 60px;
        border-radius: 10px;
        font-family: "NotoSans-B";
        font-size: 1.2rem;
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 50px;
        background: var(--color-nav-main);
        color: #fff;
    }
}